<div class="upperBox">
  <div class="container" style="margin-bottom:0; ">
    <div class="row" style="min-height:40px;">
      <button class="btn" style="position: absolute; right:15px" (click)="onImport()">Import</button>
      <br>
    </div>

    <div class="row">
      <ul class="nav nav-pills">
        <li class="nav-item" *ngFor="let tab of tabs">
          <a class="nav-link" (click)="changeDisplayTable(tab.id)"
             [ngStyle]="{'background-color':sendingValue === tab.id ? 'rgba(56,148,0,1)': 'rgba(144,238,144,.75)',
                         'border-width'    :sendingValue === tab.id ? '3px': '2px'}"
          >{{tab.name}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 panel">
      <br>
      <form #formElement="ngForm" (ngSubmit)="navigation(formElement.value)">

        <!-- radio buttons --------------------------------------------------------------------------->
        <div class="row">
          <div class="col">
            <label class="container"> &nbsp; Line Graph
              <input type="radio" checked="checked" name="graph" value="line_graph" [(ngModel)]="graph"
                     (change)="checkboxSelect($event)">
              <span class="checkmark"></span>
            </label>

          </div>

          <div class="col">
            <label class="container"> &nbsp; Scatter Graph
              <input type="radio" checked="checked" name="graph" value="scatter_graph" [(ngModel)]="graph"
                     (change)="checkboxSelect($event)">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <!------------------------------------------------------------------------------------------------>

        <div class="container" *ngIf="!show">

          <div class="row">
            <div class="col" style="max-width: 120px">
              <p>Y:</p>
            </div>
            <div class="col">
              <select name="ySpinner" [(ngModel)]="temp" (change)="ySelector($event)" style="width:100%">
                <option *ngFor="let column of columnsXandY" value="{{column.identifier}}">{{column.name}}</option>
              </select>
              <p *ngFor="let selector of ySelectorList" (click)="removeFromListLine($event)">{{selector.name}}</p>
            </div>
          </div> <!-- spinner 1: Y--->

          <div class="row">
            <div class="col" style="max-width: 120px">
              <p>X:</p>
            </div>
            <div class="col">
              <select name="timeSeriesLine" [(ngModel)]="temp" (change)="timeSeriesLineY($event)">
                <option *ngFor="let row of timeSeriesY" value="{{row.identifier}}">{{row.name}}</option>
              </select>
            </div>
          </div><!-- spinner 2: X -->
          <div class="row">
            <div class="col" style="max-width: 120px"></div>
            <div class="col">
              <p *ngFor="let selector of timeSeriesLineElement">{{selector.name}}</p>
            </div>
          </div><!-- X: select -->
        </div><!-- scatter graph---------------------------------------------------->

        <div class="container" *ngIf="show">
          <div class="row">
            <div class="col" style="max-width: 120px">
              <p>Y:</p>
            </div>
            <div class="col">
              <select name="ySpinner" [(ngModel)]="temp" (change)="ySelector($event)">
                <option *ngFor="let column of columnsXandY" value="{{column.identifier}}">{{column.name}}</option>
              </select>
              <p *ngFor="let selector of ySelectorList" (click)="removeFromListLine($event)">{{selector.name}}</p>
            </div>
          </div><!-- spinner 1: Y--->
          <div class="row">
            <div class="col" style="max-width: 120px">
              <p style="font-size:16px; text-align:right">Time Series:</p>
            </div>
            <div class="col">
              <select name="timeSeriesLine" [(ngModel)]="temp" (change)="timeSeriesLineY($event)" >
                <option *ngFor="let row of timeSeriesY" value="{{row.identifier}}">{{row.name}}</option>
              </select>
            </div>
          </div><!-- spinner 2: Time Select--->
          <div class="row">
            <div class="col" style="max-width: 120px"></div>
            <div class="col">
              <p *ngFor="let selector of timeSeriesLineElement">{{selector.name}}</p>
            </div>
          </div><!-- Time Select Result -->
        </div><!-- line graph------------------------------------------------------->


        <div class="row">
          <button class="btn" type="submit" style="margin:auto;">Show</button>
        </div>
        <br>
      </form>
    </div>
    <div class="col-sm-3  panel"></div>
    <div class="col panel"></div>
  </div>
</div>

