
<!-- Title and 'x' close button-->
<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="form-group file-area">
  <input type="file" name="images" id="images" required="required" multiple="multiple" style="border: dotted 3px lightgray" (change)="onChange($event)"/>
    <div class="file-dummy">
      <div class="success">{{fileName}}</div>
      <div class="default">Please select some files</div>
    </div>
</div>



<table>
  <tr>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Data Count</th>
    <th>Number of Columns</th>
  </tr>
  <tr>
    <td>{{start}}</td>
    <td>{{end}}</td>
    <td>{{data_count}}</td>
    <td>{{number_columns}}</td>
  </tr>
</table>
<br>
<form #formElement="ngForm" (ngSubmit)="submitCheckBox(formElement.value)">
  <table>
    <tr>
      <th>
        Column Name
      </th>
      <th>
        Rename
      </th>
      <th>
        Data
      </th>
      <th>
        Check box
      </th>
    </tr>
    <tr *ngFor="let head of header; let i = index" [attr.data-index]="i">
      <td>{{head.name}}</td>
      <td><input type="text" (change)="columnNameChange($event)" value="{{head.name}}"></td>
      <td>{{readFirstRow[i]}}</td>
      <td><input type="checkbox" value="head.checked" [(ngModel)]="head.checked" name="{{head.id}}"></td>
    </tr>
  </table>
  <div class="container">
    <button class="btn" type="submit">Show</button>
  </div>
</form>

<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>
`
