button:hover {
  background-color: #ce0606;
}

button:active {
  box-shadow: none;
  top: 5px;
}

.btn {
  background-color: red;
  box-shadow: 0 5px 0 darkred;
  color: white;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
